.kaardid {
  --background: url("../../public/img/kaardid.jpg") no-repeat center fixed;
  color: blue;
}
.kaardid.homeBtn {
  background-color: rgb(202, 86, 41);
  border-radius: 40%;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.homeBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(115, 190, 30, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}